* {
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: rgb(116, 212, 200);
}

h1 {
    background-color:rgb(112, 177, 182);
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    font-size: 40px;
    line-height: 5rem;
}

.choice {   
    height: 160px;
    width: 160px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.choice:hover {
    opacity: 0.7;
    cursor: pointer; 
    background-color:rgb(63, 112, 112);
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 10%;
} 

.choices {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    margin-top: 4rem;
    align-items: center;
    gap: 2rem;
}

.score-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10%;
    gap: 3rem;
    font-size: 40px;
}

#user-score, 
#comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 2%;
}
#msg {
    background-color:rgb(112, 177, 182);
    display: inline;
    font-size: 2rem;
    color: rgb(10, 8, 4);
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}